@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --background-color: #212121;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

input:focus {
  border: none;
  outline: none;
}

#videos-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

#comments {
  color: white;
}
